@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --color-ipm-green: #00913d;
  --color-ipm-yellow: #ffcc00;
  --color-ipm-dark: #004d20;
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

